#{{#info}}{{title}}


## {{join schemes " | "}}://{{host}}{{basePath}}


{{description}}

{{#contact}}
[**联系开发者**](mailto:{{email}})
{{/contact}}

**版本** {{version}}

[**Github主页**]({{termsOfService}})

{{#license}}[**{{name}}**]({{url}}){{/license}}

{{/info}}

{{#if consumes}}**Consumes:** {{join consumes ", "}}{{/if}}

{{#if produces}}**Produces:** {{join produces ", "}}{{/if}}

{{#if securityDefinitions}}
# Security Definitions安全验证机制
{{/if}}
{{> security}}

# APIs

{{#each paths}}
## {{@key}}
{{#this}}

{{#get}}
### <span class="http_method" style="background-color: #0f6ab4;">GET</span>
{{> operation}}
{{/get}}

{{#put}}
### <span class="http_method"  style="background-color: #c5862b">PUT</span>
{{> operation}}
{{/put}}

{{#post}}
### <span class="http_method"  style="background-color: #10a54a">POST</span>
{{> operation}}

{{/post}}

{{#delete}}
### <span class="http_method"  style="background-color: #a41e22">DELETE</span>
{{> operation}}
{{/delete}}

{{#option}}
### <span class="http_method"  style="background-color: #0f6ab4">OPTION</span>
{{> operation}}
{{/option}}

{{#patch}}
### <span class="http_method"  style="background-color: #D38042">PATCH</span>
{{> operation}}
{{/patch}}

{{#head}}
### <span class="http_method"  style="background-color: #ffd20f">HEAD</span>
{{> operation}}
{{/head}}

{{/this}}
{{/each}}

# Definitions实体对象定义
{{#each definitions}}
## <a name="/definitions/{{key}}">{{@key}}</a>

<table border="1">
    <tr>
        <th>名称</th>
        <th>类别</th>
        <th>必填</th>
        <th>描述</th>
        <th>示例</th>
    </tr>
    {{#each this.properties}}
        <tr>
            <td>{{@key}}</td>
            <td>
                {{#ifeq type "array"}}
                {{#items.$ref}}
                    {{type}}[<a href="{{items.$ref}}">{{basename items.$ref}}</a>]
                {{/items.$ref}}
                {{^items.$ref}}{{type}}[{{items.type}}]{{/items.$ref}}
                {{else}}
                    {{#$ref}}<a href="{{$ref}}">{{basename $ref}}</a>{{/$ref}}
                    {{^$ref}}{{type}}{{#format}} ({{format}}){{/format}}{{/$ref}}
                {{/ifeq}}
            </td>
            <td>{{#required}}必填{{/required}}{{^required}}选填{{/required}}</td>
            <td>{{#description}}{{{description}}}{{/description}}{{^description}}-{{/description}}</td>
            <td>{{example}}</td>
        </tr>
    {{/each}}
</table>
{{/each}}

