{{#deprecated}}-deprecated-{{/deprecated}}
<a id="{{operationId}}">{{summary}}</a>

{{description}}

{{#if externalDocs.url}}{{externalDocs.description}}. [See external documents for more details]({{externalDocs.url}})
{{/if}}

{{#if security}}
#### <span class="http_title"  style="background-color: #e5e0c6">Security</span>
{{/if}}

{{#security}}
{{#each this}}
* {{@key}}
{{#this}}   * {{this}}
{{/this}}
{{/each}}
{{/security}}

#### <span class="http_title"  style="background-color: #e5e0c6">Request请求数据</span>

{{#if consumes}}
**Content-Type: ** {{join consumes ", "}}{{/if}}

##### <span class="http_title"  style="background-color: #e5e0c6">Parameters参数信息</span>
{{#if parameters}}
<table border="1">
    <tr>
        <th>名称</th>
        <th>位于</th>
        <th>必填</th>
        <th>描述</th>
        <th>默认值</th>
        <th>文件结构</th>
    </tr>
{{/if}}

{{#parameters}}
<tr>
    <th>{{name}}</th>
    <td>{{in}}</td>
    <td>{{#if required}}是{{else}}否{{/if}}</td>
    <td>{{description}}{{#if pattern}} (**正则表达式**: `{{pattern}}`){{/if}}</td>
    <td> - </td>
{{#ifeq in "body"}}
    <td>
    {{#ifeq schema.type "array"}}Array[<a href="{{schema.items.$ref}}">{{basename schema.items.$ref}}</a>]{{/ifeq}}
    {{#schema.$ref}}<a href="{{schema.$ref}}">{{basename schema.$ref}}</a> {{/schema.$ref}}
    </td>
{{else}}
    {{#ifeq type "array"}}
            <td>Array[{{items.type}}] ({{collectionFormat}})</td>
    {{else}}
            <td>{{type}} {{#format}}({{format}}){{/format}}</td>
    {{/ifeq}}
{{/ifeq}}
</tr>
{{/parameters}}
{{#if parameters}}
</table>
{{/if}}


#### <span class="http_title"  style="background-color: #e5e0c6">Response响应结果</span>

{{#if produces}}**Content-Type: ** {{join produces ", "}}{{/if}}


|    返回码   | 原因        | 响应Model对象  |
|-------------|-------------|----------------|
{{#each responses}}| {{@key}}    | {{description}} | {{#schema.$ref}}<a href="{{schema.$ref}}">{{basename schema.$ref}}</a>{{/schema.$ref}}{{#ifeq schema.type "array"}}Array[<a href="{{schema.items.$ref}}">{{basename schema.items.$ref}}</a>]{{/ifeq}}{{^schema}} - {{/schema}}|
{{/each}}
